In [1]:
import pandas as pd

# Define the condition for filtering (stations you're interested in)
column_name = 'station_number'  # Replace with your column name
# value_conditions = [66062, 66037, 67105]  # List of station numbers to include (Observatory Hill, Sydney Airport, and Richmond)
value_conditions = [66037]  # List of station numbers to include (Sydney Airport)

# Define the columns to read (make sure to include 'station_number' in col_to_include)
col_to_include = ['station_number', 'datetime', 'air_temperature_in_degrees_c', 'wind_speed_in_km_h', 'relative_humidity_in_percentage']

# Specify the chunk size (e.g., 10000 rows per chunk)
chunk_size = 10000

# Initialize an empty list to store filtered chunks
filtered_chunks = []

# Iterate over the file in chunks
for chunk in pd.read_csv(r'c:\Users\z5404477\OneDrive - UNSW\04_Workspace\2. WIP\data\1. raw\BOM Weather Data\bom_data_nsw55167608.csv', 
                         usecols=col_to_include, chunksize=chunk_size):
    # Filter rows where 'station_number' is in the list of value_conditions
    filtered_chunk = chunk[chunk[column_name].isin(value_conditions)]
    filtered_chunks.append(filtered_chunk)

# Concatenate the filtered chunks into a single DataFrame
filtered_df = pd.concat(filtered_chunks)

# Display the first 5 filtered rows
print(filtered_df.head(5))

KeyboardInterrupt:

In [3]:
filtered_df['datetime'] = pd.to_datetime(filtered_df['datetime'], format='%Y-%m-%d %H:%M:%S')
#filter the datetime to include only from 1 July 2021 00:00:00 am to 30 June 2024 23:30:00, which is AEDP data
start_date = '2021-07-01 00:00:00'
end_date = '2024-06-30 23:30:00'
filtered_df = filtered_df[(filtered_df['datetime'] >= start_date) & (filtered_df['datetime'] <= end_date)]

filtered_df_2 = filtered_df[filtered_df['station_number'] == 66037] #use Sydney Airport station only

# make datetime the index
filtered_df_2.set_index('datetime', inplace=True)
#sort the index
filtered_df_2.sort_index(inplace=True)

In [4]:
expected_date_range = pd.date_range(start=start_date, end=end_date, freq='30min')

# make weather data df with the expected date range
weather_data_df = pd.DataFrame(index=expected_date_range)

# set  index name to 'datetime'
weather_data_df.index.name = 'datetime'

# merge the weather data with the filtered data, keeping both datetime from the weather data and the filtered data
weather_data_df = weather_data_df.merge(filtered_df_2, left_index=True, right_index=True, how='outer')

In [5]:
weather_data_df

,station_number,air_temperature_in_degrees_c,relative_humidity_in_percentage,wind_speed_in_km_h
datetime,,,,
2021-07-01 00:00:00,66037.0,13.7,96.0,13.0
2021-07-01 00:30:00,66037.0,13.2,96.0,9.4
2021-07-01 00:53:00,66037.0,12.8,96.0,13.0
2021-07-01 01:00:00,66037.0,13.3,97.0,11.2
2021-07-01 01:05:00,66037.0,13.3,97.0,11.2
...,...,...,...,...
2024-06-30 21:30:00,66037.0,9.7,85.0,22.3
2024-06-30 22:00:00,66037.0,9.7,82.0,20.5
2024-06-30 22:30:00,66037.0,9.5,82.0,16.6
2024-06-30 23:00:00,66037.0,9.0,82.0,16.6
2024-06-30 23:30:00,66037.0,8.8,84.0,18.4

In [6]:
# fill NaN values the nearest previous value
weather_data_df.fillna(method='ffill', inplace=True)

# include only the row with expected date range
weather_data_df = weather_data_df.loc[expected_date_range]

#delete station_number column
weather_data_df.drop(columns=['station_number'], inplace=True)

C:\Users\z5404477\AppData\Local\Temp\ipykernel_45764\2207699421.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  weather_data_df.fillna(method='ffill', inplace=True)

In [11]:
#delete rows with duplicate datetime index
weather_data_df = weather_data_df[~weather_data_df.index.duplicated(keep='first')]

In [12]:
weather_data_df

,air_temperature_in_degrees_c,relative_humidity_in_percentage,wind_speed_in_km_h
datetime,,,
2021-07-01 00:00:00,13.7,96.0,13.0
2021-07-01 00:30:00,13.2,96.0,9.4
2021-07-01 01:00:00,13.3,97.0,11.2
2021-07-01 01:30:00,13.2,97.0,7.6
2021-07-01 02:00:00,12.9,98.0,7.6
...,...,...,...
2024-06-30 21:30:00,9.7,85.0,22.3
2024-06-30 22:00:00,9.7,82.0,20.5
2024-06-30 22:30:00,9.5,82.0,16.6
2024-06-30 23:00:00,9.0,82.0,16.6
2024-06-30 23:30:00,8.8,84.0,18.4

In [13]:
weather_data_df.to_csv(r'c:\Users\z5404477\OneDrive - UNSW\04_Workspace\2. WIP\data\2. processed\aedp_weather_data.csv')

In [2]:
weather_data_df = pd.read_csv(r'c:\Users\z5404477\OneDrive - UNSW\04_Workspace\2. WIP\data\2. processed\aedp_weather_data.csv')

In [5]:
ds7 = pd.read_csv('../../../data/ds7_aedp_cluster_30min.csv')

In [6]:
ds7

                  datetime  netload_kW
0      2021-07-01 00:00:00     130.311
1      2021-07-01 00:30:00     124.584
2      2021-07-01 01:00:00     126.831
3      2021-07-01 01:30:00      87.189
4      2021-07-01 02:00:00      76.515
...                    ...         ...
52603  2024-06-30 21:30:00     152.890
52604  2024-06-30 22:00:00     141.031
52605  2024-06-30 22:30:00     146.383
52606  2024-06-30 23:00:00     144.749
52607  2024-06-30 23:30:00     128.384

[52608 rows x 2 columns]

In [ ]:
# make datetime column the index on ds1 dataframe
ds7.index = ds7['datetime']

ds7.drop(columns=['datetime'], inplace=True)

#convert the index to datetime
ds7.index = pd.to_datetime(ds7.index, format='%Y-%m-%d %H:%M:%S')

In [11]:
ds7

                     netload_kW
datetime
2021-07-01 00:00:00     130.311
2021-07-01 00:30:00     124.584
2021-07-01 01:00:00     126.831
2021-07-01 01:30:00      87.189
2021-07-01 02:00:00      76.515
...                         ...
2024-06-30 21:30:00     152.890
2024-06-30 22:00:00     141.031
2024-06-30 22:30:00     146.383
2024-06-30 23:00:00     144.749
2024-06-30 23:30:00     128.384

[52608 rows x 1 columns]

In [14]:
#make datetime column to be the index on weather_data_df dataframe
weather_data_df.index = pd.to_datetime(weather_data_df['datetime'], format='%Y-%m-%d %H:%M:%S')

In [16]:
weather_data_df.drop(columns=['datetime'], inplace=True)

In [17]:
weather_data_df

,air_temperature_in_degrees_c,relative_humidity_in_percentage,wind_speed_in_km_h
datetime,,,
2021-07-01 00:00:00,13.7,96.0,13.0
2021-07-01 00:30:00,13.2,96.0,9.4
2021-07-01 01:00:00,13.3,97.0,11.2
2021-07-01 01:30:00,13.2,97.0,7.6
2021-07-01 02:00:00,12.9,98.0,7.6
...,...,...,...
2024-06-30 21:30:00,9.7,85.0,22.3
2024-06-30 22:00:00,9.7,82.0,20.5
2024-06-30 22:30:00,9.5,82.0,16.6
2024-06-30 23:00:00,9.0,82.0,16.6
2024-06-30 23:30:00,8.8,84.0,18.4

In [18]:
#merge the ds7 dataframe with the weather_data_df dataframe
ds8 = ds7.merge(weather_data_df, left_index=True, right_index=True, how='outer')

In [19]:
ds8

,netload_kW,air_temperature_in_degrees_c,relative_humidity_in_percentage,wind_speed_in_km_h
datetime,,,,
2021-07-01 00:00:00,130.311,13.7,96.0,13.0
2021-07-01 00:30:00,124.584,13.2,96.0,9.4
2021-07-01 01:00:00,126.831,13.3,97.0,11.2
2021-07-01 01:30:00,87.189,13.2,97.0,7.6
2021-07-01 02:00:00,76.515,12.9,98.0,7.6
...,...,...,...,...
2024-06-30 21:30:00,152.890,9.7,85.0,22.3
2024-06-30 22:00:00,141.031,9.7,82.0,20.5
2024-06-30 22:30:00,146.383,9.5,82.0,16.6
2024-06-30 23:00:00,144.749,9.0,82.0,16.6
2024-06-30 23:30:00,128.384,8.8,84.0,18.4

In [20]:
ds8.to_csv('../../../data/ds8_aedp_cluster_30min_with_weather.csv')